/* Home.css */

/* Reset some default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}


/* Global styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Hero section */
.hero-section {
  position: relative;
  height: 400px;
  background: url('./images/IMG-20231223-WA0005.jpg') center/cover;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
}

.hero-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2em;
}

/* Welcome section */
.welcome-section {
  background-color: #f8f8f8; /* Light gray background color */
  padding: 40px 0;
}

.welcome-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 1.2em;
}

/* About section */
.about-section {
  padding: 40px 0;
  background-color: #f8f8f8; /* Light gray background color */

}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2em;
}

 

/* Responsive styles */
@media (max-width: 768px) {
  .industries-section h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
    
  }
}

/* Adjust other responsive styles as needed */
/* Add these styles to your existing CSS */

.industries-section {
  background-color: #f8f8f8; /* Light gray background color */
  padding: 40px 0;
}

.industries-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.industry {
  text-align: center;
}

.industry img {
  max-width: 1000px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .industries-section h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}

/* Adjust other responsive styles as needed */

/* ... (Previous styles) */

/* Pictures section */
.pictures-section {
  padding: 40px 0;
  background-color: #f8f8f8; /* Light gray background color */

}

.pictures-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.trending-card {
  position: relative;
  overflow: hidden;
  
}

.trending-card img {
  width: 375px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
  
}

.trending-card:hover img {
  transform: scale(1.1);
}

/* Mission section */
.mission-section {
  background-color: #f8f8f8; /* Light gray background color */
  padding: 40px 0;
}

/* ... (Remaining styles) */

/* Responsive styles */
@media (max-width: 768px) {
  /* ... (Responsive styles) */
}

/* Key Features section */
.key-features {
  padding: 40px 0;
  background-color: #f8f8f8; /* Light gray background color */

}

.key-features h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.features-content {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  width: 30%; /* Adjust the width based on your design */
}

/* Home.css */

/* ... (Previous styles) */
/* Home.css */

/* ... (Previous styles) */

/* Contact section */
.contact-section {
  background-color: #242323;
  padding: 40px 0;
}

.contact-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: azure;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color:darkgray
}

.contact-details div {
  text-align: center;
  width: 30%; /* Adjust the width based on your design */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .contact-details div {
    width: 45%; /* Adjust the width for larger screens */
  }
}

@media (max-width: 768px) {
  .contact-details div {
    width: 100%;
  }
}


/* Responsive styles */
@media (max-width: 768px) {
  .contact-details div {
    width: 100%;
  }
}


/* Responsive styles */
@media (max-width: 768px) {
  .hero-section {
    height: 300px;
  }

  .hero-title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1em;
  }

  .welcome-title {
    font-size: 1.5em;
  }

  .welcome-message {
    font-size: 1em;
  }

  .about-section h2 {
    font-size: 1.5em;
  }

  .about-section p {
    font-size: 1em;
  }

  .industries-section h2 {
    font-size: 1.5em;
  }

  .pictures-section h2 {
    font-size: 1.5em;
  }

  .trending-card img {
    width: 100%;
    height: auto;
  }

  .mission-section h2 {
    font-size: 1.5em;
  }

  .mission-section p {
    font-size: 1em;
  }

  .key-features h2 {
    font-size: 1.5em;
  }

  .features-content {
    flex-direction: column;
  }

  .feature-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-section h2 {
    font-size: 1.5em;
  }
}
