.header-container {
    background-color: #ffffff; /* White background */
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333; /* Dark gray text color */
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333333; /* Dark gray text color */
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #008cba; /* Blue color on hover */
  }
  .industry img {
    width: 100%; /* Adjust as needed */
    border-radius: 8px; /* Add styling as needed */
  }
    